body{
    background-color: rgb(127, 138, 255);
    font: normal 15pt Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: cente;
}

section{
    background-color: darkgoldenrod;
    border-radius: 10px;
    padding: 10px 1em 0 1em;
    width: 800px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}
input{
    font: normal 14pt Arial;
    width: 200px;
}
div{
    margin-top:250px;
}

footer{
    color: rgb(7, 19, 43);
    text-align: center;
    font-style: italic;
}