body{
    background-color: green;
    font: normal  Arial;
    margin-right: auto;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font: normal 14pt Arial;
    height: 20pt;
    width: 10pt;
}

section.div.laber{
    font-size: 3pt;
}
div{
    margin-top:150px;
    

}

input{
    font: normal 14pt Arial;
}

h4{
    font-size: larger;
}

#media{
    font-size: xx-large;
}
